{% extends "base.html" %} 

        {% block content %}
            <div class="table">
                <h2 class="text-xl mb-2 text-blue-500 font-bold">Prostate Data Table</h2>
                <table class="table-auto">
                    <thead>
                        <tr>
                            <th class="px-4 py-2">Data ID</th>
                            <th class="px-4 py-2">Patient ID</th>
                            <th class="px-4 py-2">PSA</th>
                            <th class="px-4 py-2">Prostate Volume (cc)</th>
                            <th class="px-4 py-2">ExoDx Score</th>
                            <th class="px-4 py-2">MRI Prostate</th>
                            <th class="px-4 py-2">Decipher Score</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for prostatedata in data2 %}
                        <tr>
                            <td class="border px-4 py-2">{{ prostatedata.id }}</td>
                            <td class="border px-4 py-2">{{ prostatedata.patient_id }}</td>
                            <td class="border px-4 py-2">{{ prostatedata.psa }}</td>
                            <td class="border px-4 py-2">{{ prostatedata.prostate_volume }}</td>
                            <td class="border px-4 py-2">{{ prostatedata.exodx }}</td>
                            <td class="border px-4 py-2">{{ prostatedata.mri }}</td>
                            <td class="border px-4 py-2">{{ prostatedata.decipher }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

        <br/>

        {% endblock %}